<!DOCTYPE html>
<!--[if lte IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TGPGSC9');</script>
    <!-- End Google Tag Manager -->


    <script>window.gtmFormName = 'oncology-center-en';</script>

    <!-- tel interaction, whatsapp interaction,  -->
    <script src="{{ CDN_URL }}{{ STATIC_URL }}js/gtmSenderLP.js"></script>

    <meta charset="utf-8">
    <title>Memorial Hospital Oncology</title>
    <!--=================================
    Meta tags
    =================================-->
    <meta name="description"
          content="Memorial is the leading private clinical care provider in Turkey with a particular expertise in organ transplantation such as Kidney, Liver and Bone Marrow and Oncology.">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no">

    <!--=================================
    Style Sheets
    =================================-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet'
          type='text/css'>
    <link rel="apple-touch-icon" sizes="57x57"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/favicon/favicon-16x16.png">
    <link rel="stylesheet" type="text/css"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/css/flexslider.css">
    <link rel="stylesheet" type="text/css"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/css/animations.css">
    <link rel="stylesheet" type="text/css"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/css/jquery.flickr.css">
    <link rel="stylesheet" type="text/css"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/css/prettyPhoto.css">
    <link rel="stylesheet" href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/css/main.css">
    <link rel="stylesheet" href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/css/lightbox.css">
    <link type="text/css" rel="stylesheet"
          href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/css/lightslider.css" />
    <link rel="stylesheet" href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/css/owl.theme.css">
    <script src="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/js/lib/modernizr-2.6.2-respond-1.1.0.min.js">
    </script>

    <!--utmLinkSaveOtherPages-->

    <script src="{{ CDN_URL }}{{ STATIC_URL }}js/utmLinkSaver.js?v=3"></script>
    <script>saveUtmLink(10);</script>

    <script src="https://www.google.com/recaptcha/api.js?hl=en" async defer>
    </script>
</head>

<body>
 

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGPGSC9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!--========================================
    Body Content
    ===========================================-->
    <div class="offsetWrap">

        <h1 class="h1n">
            Memorial Hospital, leading in Kidney, Liver and Bone Marrow Transplantation and Oncology.
        </h1>
        <div class="offsetMaker">

            <header class="bg-white doc-header">
                <div class="head-contact clearfix">
                    <div class="container">
                        <a href="{% url 'en_oncologycenter' %}" class="text-left logo">
                            <img src="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/memorial-logo.png"
                                 alt="Memorial Logo">
                        </a>


                        <ul class="contact pull-right">
                            <li>
                                <a href="tel://+905496393366" alt="Call Memorial">
                                    <img src="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/whatsapp-icon.png"
                                         class="whatsappIcon" alt="Memorial Whatsapp">+90 549 639 33 66
                                </a>
                            </li>
                            <li>
                                <a href='&#109;ail&#116;&#111;&#58;%6&#57;&#110;&#116;er%6E&#97;&#116;%69%&#54;F&#37;&#54;E&#97;l&#112;%6&#49;%74%69en&#37;74&#37;7&#51;%40m&#101;&#109;o&#114;&#105;a&#108;&#46;c%6Fm&#46;tr'>i&#110;t&#101;rnationalpatie&#110;ts&#64;me&#109;or&#105;&#97;&#108;&#46;co&#109;&#46;&#116;r</a>
                            </li>
                            <li>
                                <a href="https://facebook.com/memorialhospitalsen" class="fb" target="_blank"
                                   alt="Memorial Facebook"><i class="fa fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/memorial_group" class="fb" target="_blank"
                                   alt="Memorial Twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://youtube.com/channel/UCq3RsbEoCwcMaLjfeorH11Q" target="_blank"
                                   alt="Memorial Youtube"><i class="fa fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="https://instagram.com/memorialhospitalsgroup" target="_blank"
                                   alt="Memorial Instagram"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                        <a href="" class="nav-triger"><span class="fa fa-navicon"></span></a>
                    </div>
                </div>

                <nav id="sticktop">
                    <a href="{% url 'en_oncologycenter' %}" class="text-left logo mobilelogo">
                        <img src="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/memorial-logo.png"
                             alt="Memorial Logo">
                    </a>
                    <a href="#" class="nav-triger"><span class="fa fa-navicon"></span></a>
                    <div class="container menuC">
                        <ul class="main-menu taCenter">
                            <li class="active padright30">
                                <button class="menuButon"
                                        onclick="showIndex();">
                                    Home
                                </button>
                            </li>
                            <li class="padright30">
                                <button class="menuButon" onclick="showAbout();">
                                    About
                                    Memorial
                                </button>
                            </li>
                            <li class="padright30">
                                <button class="menuButon dropbtn"
                                        onmouseover="showOncology();">
                                    Oncology Center
                                </button>
                                <div id="oncologyDropdown" class="dropdown-onco-content">
                                    <a class="ddmenuButon" onclick="showMedicalOncology();">Medical Oncology</a>
                                    <a class="ddmenuButon" onclick="showRadiation();">Radiation Oncology</a>
                                    <a class="ddmenuButon" onclick="showNuclear();">Nuclear Oncology</a>
                                    <a class="ddmenuButon" onclick="showRobotic();">
                                        Surgical Oncology and da Vinci
                                        Robotic Surgery
                                    </a>
                                </div>
                            </li>

                            <li class="padright30">
                                <button class="menuButon" onclick="showGenetics();">
                                    Cancer
                                    Genetics Clinic
                                </button>
                            </li>
                            <li class="padright30">
                                <button class="menuButon" onmouseover="showHema();">
                                    Hematology /
                                    Blood Diseases
                                </button>
                            </li>
                            <div id="hemaDropdown" class="dropdown-hema-content">
                                <a class="ddmenuButon" onclick="showBoneMarrow();">
                                    Bone Marrow
                                    Transplantation
                                </a>
                                <a class="ddmenuButon" onclick="showTissue();">
                                    Tissue Typing and Immunology
                                    Laboratory
                                </a>
                            </div>
                            </li>

                            <li class="padright30">
                                <button class="menuButon" onclick="showDocs();">
                                    Our
                                    Doctors
                                </button>
                            </li>
                            <li><button class="menuButon" onclick="showContact();">Contact Us</button></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <button onclick="topFunction()" id="toTopBtn" title="Go to page top">
                <i class="fa fa-arrow-up"></i>
            </button>
            <div id="share-buttons">

                <!-- Email -->
                <a href="mailto:?Subject=Memorial Hospital&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://www.memorial.com.tr">
                    <img src="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/email.png" alt="Email" />
                </a>

                <!-- Facebook -->
                <a href="http://www.facebook.com/sharer.php?u=https://www.memorial.com.tr" target="_blank">
                    <img src="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/facebook.png"
                         alt="Facebook" />
                </a>

                <!-- Google+ -->
                <a href="https://plus.google.com/share?url=https://www.memorial.com.tr" target="_blank">
                    <img src="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/google.png" alt="Google" />
                </a>

                <!-- LinkedIn -->
                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.memorial.com.tr"
                   target="_blank">
                    <img src="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/linkedin.png"
                         alt="LinkedIn" />
                </a>

                <!-- Twitter -->
                <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons"
                   target="_blank">
                    <img src="{{ CDN_URL }}{{ STATIC_URL }}oncology-center/assets/img/twitter.png" alt="Twitter" />
                </a>

            </div>
            {% block main %}{% endblock %}
            <footer class="bg-white pt-35">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 mt-40">
                            <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">ABOUT MEMORIAL</h6>
                            <p class="justify">
                                Memorial is one of the leading private clinical care providers in
                                Turkey with a particular expertise in Organ Transplantation, Bone Marrow
                                Transplantation, IVF, Invasive Cardiology, Cardiovascular Surgery, Da Vinci Robotic
                                Surgery, Neurosurgery and Oncology. <a href="{% url 'en_oncologycenter-about' %}"
                                                                       alt="About Memorial Hospital" class="italic">read more</a>
                            </p>
                        </div>

                        <div class="col-sm-3 mt-40 tags">
                            <!--
                            <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">Tags</h6>
                            <a href="#">Memorial</a>
                            <a href="#">Kidney transplant</a>
                            <a href="#">Liver transplant</a>
                            <a href="#">Bone Marrow transplant</a>
                            <a href="#">Organ transplant</a>
                            <a href="#">International health tourism</a>
                            -->
                        </div>

                        <div class="col-sm-3 mt-40 recent-posts">
                            <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">Social Media</h6>
                            <ul>
           